<h2>Profile for <%= @user.name %></h2>
<h4>Carrier Rating: PLACEHOLDER</h4>
<h4>Carried Deliveries: <%= @user.carried_deliveries.length %></h4>
  <table border="1" style="width: 80%">
    <tr>
      <th>Date</th>
      <th>To</th>
      <th>From</th>
    </tr>
    <% @user.carried_deliveries.each do |carry| %>
    <tr>
      <td><%= carry.arrival_date %></td>
      <td><%= carry.to_city %></td>
      <td><%= carry.from_city %></td>
    </tr>
    <% end %>
  </table>

<h4>Sender Rating: PLACEHOLDER</h4>
<h4>Sent Deliveries: <%= @user.sent_deliveries.length %></h4>
  <table border="1" style="width: 80%">
    <tr>
      <th>Date</th>
      <th>To</th>
      <th>From</th>
    </tr>
    <% @user.sent_deliveries.each do |sent| %>
    <tr>
      <td><%= sent.arrival_date %></td>
      <td><%= sent.to_city %></td>
      <td><%= sent.from_city %></td>
    </tr>
    <% end %>
  </table>

