<h2>Profile for <%= @user.name %></h2>

<div class='button carry'><a href="<%= new_delivery_path %>">Carry a Package</a></div>
<div class='button send'><a href="<%= deliveries_path %>">Send a Package</a></div>
<%= link_to 'Add new recipient', new_user_recipient_path(session[:user_id]) %>

<% if @user.requested_sends.size != 0 || @user.pending_sends.size != 0 || @user.completed_sends.size != 0 %>
  <h2>These are your Sends</h2>
<% end %>

<% if @user.requested_sends.size != 0 %>
<h3>Request to send</h3>
<table>
  <tr>
    <th>Package size</th>
    <th>From</th>
    <th>To</th>
    <th>Recipient</th>
  </tr>
  <% @user.requested_sends.each do |delivery| %>
  <tr>
    <td><%= delivery.package_size %></td>
    <td><%= delivery.from_city %></td>
    <td><%= delivery.to_city %></td>
    <td><%= delivery.recipient.name %></td>
  </tr>
  <% end %>

</table>
<% end %>

<% if @user.pending_sends.size != 0 %>
<h3>Pending sends</h3>
<table>
  <tr>
    <th>Package size</th>
    <th>From</th>
    <th>To</th>
    <th>Recipient</th>
    <th>Traveler</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
  </tr>
  <% @user.pending_sends.each do |delivery| %>
  <tr>
    <td><%= delivery.package_size %></td>
    <td><%= delivery.from_city %></td>
    <td><%= delivery.to_city %></td>
    <td><%= delivery.recipient.name %></td>
    <td><%= delivery.sender.name %></td>
    <td><%= delivery.departure_date %></td>
    <td><%= delivery.arrival_date %></td>
  </tr>
  <% end %>

</table>
<% end %>

<% if @user.completed_sends.size != 0 %>
<h3>Delivered Parcels</h3>
<table>
  <tr>
    <th>Package size</th>
    <th>From</th>
    <th>To</th>
    <th>Recipient</th>
    <th>Traveler</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
  </tr>
  <% @user.completed_sends.each do |delivery| %>
  <tr>
    <td><%= delivery.package_size %></td>
    <td><%= delivery.from_city %></td>
    <td><%= delivery.to_city %></td>
    <td><%= delivery.recipient.name %></td>
    <td><%= delivery.sender.name %></td>
    <td><%= delivery.departure_date %></td>
    <td><%= delivery.arrival_date %></td>
  </tr>
  <% end %>

</table>
<% end %>



<% if @user.requested_carries.size != 0 || @user.pending_carries.size != 0 || @user.completed_carries.size != 0 %>
  <h2>These are your Carries</h2>
<% end %>

<% if @user.requested_carries.size != 0 %>
<h3>Request to carry</h3>
<table>
  <tr>
    <th>Package size</th>
    <th>From</th>
    <th>To</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
  </tr>
  <% @user.requested_carries.each do |delivery| %>
  <tr>
    <td><%= delivery.package_size %></td>
    <td><%= delivery.from_city %></td>
    <td><%= delivery.to_city %></td>
    <td><%= delivery.departure_date %></td>
    <td><%= delivery.arrival_date %></td>
  </tr>
  <% end %>

</table>
<% end %>

<% if @user.pending_carries.size != 0 %>
<h3>Pending carries</h3>
<table>
  <tr>
    <th>Package size</th>
    <th>From</th>
    <th>To</th>
    <th>Recipient</th>
    <th>Traveler</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
  </tr>
  <% @user.pending_carries.each do |delivery| %>
  <tr>
    <td><%= delivery.package_size %></td>
    <td><%= delivery.from_city %></td>
    <td><%= delivery.to_city %></td>
    <td><%= delivery.recipient.name %></td>
    <td><%= delivery.sender.name %></td>
    <td><%= delivery.departure_date %></td>
    <td><%= delivery.arrival_date %></td>
  </tr>
  <% end %>

</table>
<% end %>

<% if @user.completed_carries.size != 0 %>
<h3>Delivered Parcels</h3>
<table>
  <tr>
    <th>Package size</th>
    <th>From</th>
    <th>To</th>
    <th>Recipient</th>
    <th>Traveler</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
  </tr>
  <% @user.completed_carries.each do |delivery| %>
  <tr>
    <td><%= delivery.package_size %></td>
    <td><%= delivery.from_city %></td>
    <td><%= delivery.to_city %></td>
    <td><%= delivery.recipient.name %></td>
    <td><%= delivery.sender.name %></td>
    <td><%= delivery.departure_date %></td>
    <td><%= delivery.arrival_date %></td>
  </tr>
  <% end %>

</table>
<% end %>

