<h2>Profile for <%= @user.name %></h2>

<div class='button carry'><a href="<%= new_delivery_path %>">Carry a Package</a></div>
<div class='button send'><a href="<%= deliveries_path %>">Send a Package</a></div>
<%= link_to 'Add new recipient', new_user_recipient_path(session[:user_id]) %>


<h4>Carrier Rating: <%= @user.carrier_rating %></h4>
<h4>Carried Deliveries: <%= @user.carried_deliveries.length %></h4>
  <table border="1" style="width: 80%">
    <tr>
      <th>Arrival Date</th>
      <th>To</th>
      <th>From</th>
    </tr>
    <% @user.carried_deliveries.each do |carry| %>
    <tr>
      <td><%= carry.arrival_date %></td>
      <td><%= carry.to_city %></td>
      <td><%= carry.from_city %></td>
    </tr>
    <% end %>
  </table>

<h4>Sender Rating: <%= @user.sender_rating %></h4>
<h4>Sent Deliveries: <%= @user.sent_deliveries.length %></h4>
  <table border="1" style="width: 80%">
    <tr>
      <th>Arrival Date</th>
      <th>To</th>
      <th>From</th>
    </tr>
    <% @user.sent_deliveries.each do |sent| %>
    <tr>
      <td><%= sent.arrival_date %></td>
      <td><%= sent.to_city %></td>
      <td><%= sent.from_city %></td>
    </tr>
    <% end %>
  </table>

