<h2>Complete Your Delivery</h2>

From: <%= @delivery.from_city %><br>
To: <%= @delivery.to_city %><br>
Price: $<%= @delivery.price %>0<br>
<% if @delivery.departure_date%>
  Departure Date: <%= @delivery.departure_date %><br>
<% end %>
<% if @delivery.arrival_date %>
  Arrival Date: <%= @delivery.arrival_date %><br>
<% end  %>

<%= form_for @delivery do |f| %>
  <% if @delivery.recipient_id == nil %>
    <%= f.label :your_recipients %><br>
    <% options = options_from_collection_for_select(@recipients, 'id', 'name') %>
    <%= f.select :recipient_id, options %><br>
  <% end %>
  <% if @delivery.departure_date == nil %>
    <%= f.label :departure_date %>
    <%= f.date_field :departure_date %><br>
  <% end %>
  <% if @delivery.arrival_date == nil %>
    <%= f.label :arrival_date %>
    <%= f.date_field :arrival_date %><br>
  <% end %>

  <% if @delivery.sender_id == nil %>
    <div id="add_recipient"><%= link_to 'Add new recipient', new_user_recipient_path(session[:user_id]) %></div>
    <div id="add_recipient_form"></div>
    <%= f.hidden_field :sender_id, value: session[:user_id] %><br>
  <% else %>
    <%= f.hidden_field :carrier_id, value: session[:user_id] %><br>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>


