<h2>Upcoming Trips</h2>

<table>
  <tr>
    <th>Package Size</th>
    <th>Depart From</th>
    <th>Departure Date</th>
    <th>Arrive At</th>
    <th>Arrival Date</th>
    <th>Price</th>
    </th>
  </tr>



  <% @carrier_deliveries.each do |d| %>
   <tr>
      <td><%= d.package_size %></td>
      <td><%= d.from_city %></td>
      <td><%= d.departure_date %></td>
      <td><%= d.to_city %></td>
      <td><%= d.arrival_date %></td>
      <td>$<%= d.price %></td>
      <td><a href="<%= edit_delivery_path(d.id) %>">Select this Delivery</a></td>
    </tr>
  <% end %>
</table>
<h2>Request a Carrier</h2>
<%= render 'sender_form' %>
<br>

