<h2>Carry A Package Below</h2>

<table>
  <tr>
    <th>Package Size</th>
    <th>Depart From</th>
    <th>Arrive At</th>
    <th>Price</th>
    </th>
  </tr>



  <% @sender_deliveries.each do |d| %>
   <tr>
      <td><%= d.package_size %></td>
      <td><%= d.from_city %></td>
      <td><%= d.to_city %></td>
      <td>$<%= d.price %></td>
      <td><a href="<%= edit_delivery_path(d.id) %>">Select this Delivery</a></td>
    </tr>
  <% end %>
</table>

<h2>Request to Carry</h2>
<div class="form"><%= render 'carrier_form' %></div>
