<h2>Welcome to Carrier Pigeon</h2>

<div class='button carry'><a href="<%= new_delivery_path %>">Carry a Package</a></div>
<div class='button send'><a href="<%= deliveries_path %>">Send a Package</a></div>

<% if session[:user_id] %>
  <%= link_to 'Profile Page', user_path(session[:user_id]) %>
<% end %>


<table>
<% @deliveries.each do |delivery| %>
  <tr>
    <td><%= delivery.package_size %></td>
    <td><%= delivery.from_city %></td>
    <td><%= delivery.to_city %></td>
    <td><%= delivery.departure_date %></td>
    <td><%= delivery.arrival_date %></td>
    <td><%= link_to "Select this pigeon", [:edit, delivery] %>
  </tr>
<% end %>
</table>
