<!DOCTYPE html>
<html>
<head>
  <title>CarrierPigeon</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !current_page?(login_path) && !current_page?(new_user_path) %>
  <% if session[:user_id] %>
    <%= link_to "Home", root_path %>
    <%= link_to "Profile", user_path(session[:user_id]) %>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Login", login_path %>
    <%= link_to "Sign up", new_user_path %>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
